* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}

body {
    background-color:lightblue;
}

#header-title{
    color: white;
    padding: 20px 0;
    font-size: 70px;
}

#header-container{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}